.world{
    position: relative;
    background-color: var(--header-bg);
    padding: 20px;
    margin-bottom: 1.5rem;
}

.inf-world{
    display: flex;
    justify-content: space-between;
    height: 20rem;
}
.worldMain{
    width: 53%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.worldMain:hover img{
    transform: scale(1.03,1.03);
}
.worldMain img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.worldAside{
    width: 44%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.worldAside .item{
    display: flex;
}
.worldAside .item img{
    width: 5rem;
    height: 3.5rem;
    object-fit: cover;
    cursor: pointer;
}
.item img:hover{
    transform: scale(1.03,1.03);
}
.item .itemCont{
    margin-left: 18px;
}
.worldAside .item .itemCont h6{
    color: white;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 6px;
}
.worldAside .item .itemCont h6:hover{
    color: var(--orange)
}
.itemCont span{
    color: #aaa;
    font-size: 12px;
}



@media only screen and (max-width: 680px){
    .inf-world{
        flex-direction: column;
        height: auto;
    }
    .worldMain{
        width: 100%;
        height: 16rem;
        margin-bottom: 16px;
    }
    .worldAside{
        width: 100%;
    }
    .worldAside .item{
        margin-bottom: 1rem;
    }
}