.category{
    display: flex;
    justify-content: space-between;
    flex: 1;
}
.category .articlAside .item img {
    width: 5rem;
}
.gadgets{
    flex: 0.48;
    background-color: var(--header-bg);
    padding: 20px;
}
.laptops{
    flex: 0.48;
    background-color: var(--header-bg);
    padding: 20px;
}

@media only screen and (max-width: 680px){
    .category{
        flex-direction: column;
    }
    .category .gadgets{
        margin-bottom: 1.5rem;
    }
}